.App {
  display: flex;
  flex-direction: column;
  height: 100vh;
  background-color: #f0f0f0;

  font-family: 'Roboto';
}

.App-Header {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  padding: 20px;
  background-color: #2b2b2b;
  color: #ffffff;
}

.App-Body {
  display: flex;
  flex-direction: column;
  flex-grow: 1;
  overflow-y: scroll;
  padding-top: 24px;
  padding-bottom: 24px;
  padding-left: 2.5vw;
  padding-right: 2.5vw;

  background-color: #f0f0f0;
}

.App-Footer {
  position: sticky;
  text-align: center;
  background-color: #363537;
  padding: 6px;

  font-size: small;
  color: #FFFFFF;
  
  z-index: 2;
  bottom: 0;
}

.App-Title {
  font-size: 24px;
  font-weight: bold;
}

.App-ToggleView {
  display: flex;
  align-items: center;
}

.App-ToggleView input {
  margin-right: 10px;
}

.App-FetchButton {
  background-color: #4CAF50; /* Green */
  border: none;
  border-radius: 12px;
  color: white;

  padding: 12px 20px;
  text-align: center;
  text-decoration: none;
  
  display: inline-block;

  font-weight: bold;
  font-size: 16px;
  cursor: pointer;
}

.App-FetchButton:hover {
  background-color: #3C9F40; /* Green */
  color: #DDDDDD;
}

.App-FetchButton:active {
  background-color: #2C8F30; /* Green */
  color: #BBBBBB;
}

.App-GridContainer {
  display: grid;
  grid-template-columns: repeat(3, 1fr); /* 3 columns */
  gap: 20px;
}

.App-ListContainer {
  display: flex;
  flex-direction: column;
  /* Optional styling for the list container */
  padding: 20px;
}